<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assessment HR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Alogin</display-name>
    <servlet-name>Alogin</servlet-name>
    <servlet-class>com.pro.Alogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alogin</servlet-name>
    <url-pattern>/Alogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hrlogin</display-name>
    <servlet-name>Hrlogin</servlet-name>
    <servlet-class>com.pro.Hrlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hrlogin</servlet-name>
    <url-pattern>/Hrlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addhr</display-name>
    <servlet-name>Addhr</servlet-name>
    <servlet-class>com.pro.Addhr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addhr</servlet-name>
    <url-pattern>/Addhr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addjob</display-name>
    <servlet-name>Addjob</servlet-name>
    <servlet-class>com.pro.Addjob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addjob</servlet-name>
    <url-pattern>/Addjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Applyjob</display-name>
    <servlet-name>Applyjob</servlet-name>
    <servlet-class>com.pro.Applyjob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applyjob</servlet-name>
    <url-pattern>/Applyjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Answer</display-name>
    <servlet-name>Answer</servlet-name>
    <servlet-class>com.pro.Answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer</servlet-name>
    <url-pattern>/Answer</url-pattern>
  </servlet-mapping>
</web-app>